@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800&display=swap');
body {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px ;
    background-color: #FDB515;
    color: white;
    border: 2px solid white;
}
.menu-btn {
    display: none;
}
.nav-items li {
    display: inline-block;
    padding-left: 20px;
    font-size: 17px;
}
.nav-items li a, .nav-items li i {
    text-decoration: none;
    display: inline-block;
    color: white;
}
.landing{
    background-image: url(img1.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1034px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoname {
    display: flex;
    align-items: center;
}
.logoname img {
    height: 60px;
    margin-right: 20px;
}
.intro {
    background-color: white;
    width: 1140px;
    height: 261px;
    text-align: center;
    padding: 10px;
}
.intro h1 {
    font-size: 70px;
}
.intro h1 span {
    color: #EE3E2F;
} 
.intro small {
    font-size: 17px;
}
.landing button {
    height: 60px;
    width: 200px;
    margin: 50px;
    background-color: #FDB515;
    border: none;
}
.landing button a {
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}
.who {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    margin: 50px;
    color: white;
}
.whoimage img{
    width: 680px;
    height: 520px;
    margin-left: 30px;
}
.whotext {
    padding: 8px;
    padding-left: 80px;
    height: 505px;
    background-color: black;
    /* flex-basis: 50%; */
}
.whotext strong {
    font-size: 32px;
    font-style: normal;
    font-family: Rufina;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin: 0 0 10px;
}
.whotext p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
}
.who button {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    background-color: transparent;
}
.who button a {
    color: black;
    text-decoration: none;
}
.who button:hover {
    background-color: #FDB515;
}
#services {
    margin: 50px 150px;
}
#services strong {
    color: #EE3E2F;
    font-weight: 800;
}
#services p {
    font-size: 18px;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 280px 280px 280px;
    margin: 50px;
    gap: 20px;
    height: 600px;
}
.griditem {
    background-color: white;
     box-shadow: lightgray 1px 1px 1px 1px;
}
.griditem img {
    width: 314px;
    height: 210px;
}
.griditem span {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
}
.sm-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.sm {
    display: flex;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #EE3E2F;
}
.sm i {
    color: black;
}
footer {
    background-color: #FDB515;
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}
.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 150px;
}
.row1, .row2 {
    flex-basis: 50%;
}
.row1 {
    width: 272px;
}
.row1 h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
    max-width: 40em;
}
.row1 p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    
}
.row1 strong {
    color: #EE3E2F;
}
.cmm textarea {
    padding-left: 10px;
    height: 100px;
    width: 470px;
    margin-bottom: 12px;
}
.form input, .form button {
    width: 470px;
    height: 40.5px;
    padding-left: 10px;
    margin-bottom: 12px;
}
.form button {
    background-color: #EE3E2F;
    border: none;
    padding-right: 5px;
    margin-top: 12px;
}
.form button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
footer span {
    display: block;
    text-align: center;
}
@media only screen and (max-width:1024px) {
    @import url('https://fonts.googleapis.com/css2?family=Rufina:wght@400;700&display=swap');

body {
    width: 100%;
    font-family: 'Rufina', serif;
    overflow-x: hidden;
}
.menu-btn {
    display: block;
}
.navbar {
    background-color: #FDB515;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
    padding: 0 10px;
    margin: 0;
}
.logoname {
    display: flex;
}
.logoname img {
    width: 40px;
    height: 43px;
}
.menu-btn img {
    width: 40px;
}
.nav-items {
    display: hidden;
    visibility: hidden;
}
.landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.intro {
    
    text-align: center;
}
.intro h1 span {
    color: #EE3E2F;
    font-size: 24px;
}
.intro small {
    font-size: 32px;
    /* margin-bottom: px; */
}
.landing button {
    background-color: #FDB515;
    width: 100px;
    height: 40px;
    border: none;
    margin: 10px;
}
.landing button a {
    text-decoration: none;
    color: white;
}
.who {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.whoimage {
    /* display: block; */
    align-self: center;
    align-items: center;
    justify-content: center;
}
.whoimage img {
    text-align: center;
    width: 370px;
    height: 240px;
    /* padding-left: 0; */
}
.whotext strong {
    font-size: 28px;
    padding-bottom:  12px;
}
.whotext p {
    font-size: 16px;
    margin: 0;
    padding-bottom: 0;
}
.who button {
    width: 100px;
    height: 40px;
    border: 1px solid black;
    margin: 10px;
    background-color: transparent;
}
.who button a {
    text-decoration: none;
    color: black;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 220px 220px;
}
.griditem img {
    width: 200px;
}
    


}

