* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FDB515;
    color: white;
}
.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.brand-title img {
    width: 30px;
    height: 30px;
}
.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}
.navbar-links li {
    list-style: none;
}
.navbar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}
.navbar-links li:hover {
    background-color: #555;
}
.toggle-btn {
    width: 30px;
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    height: 21px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    transition: 1s ease-in;
    /* align-self: center; */
}
.landing{
    background-image: url(img1.jpeg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 1034px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.logoname {
    display: flex;
    align-items: center;
}
.logoname img {
    height: 60px;
    margin-right: 20px;
}
.intro {
    background-color: white;
    width: 1140px;
    height: 261px;
    text-align: center;
    padding: 10px;
}
.intro h1 {
    font-size: 70px;
}
.intro h1 span {
    color: #EE3E2F;
} 
.intro small {
    font-size: 17px;
}
.landing button {
    height: 60px;
    width: 200px;
    margin: 50px;
    background-color: #FDB515;
    border: none;
}
.landing button a {
    color: white;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
}
.about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px;
    color: white;
    color: #555;
}
.whoimage img{
    width: 680px;
    height: 520px;
    margin-left: 30px;
}
.whotext {
    padding: 8px;
    padding-left: 80px;
    height: 505px;
    background-color: black;
}
.whotext strong {
    font-size: 32px;
    font-style: normal;
    font-family: Rufina;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin: 0 0 10px;
}
.whotext p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
}
.about button {
    width: 120px;
    height: 50px;
    border: 1px solid white;
    background-color: transparent;
}
.about button a {
    color: white;
    text-decoration: none;
}
.about button:hover {
    background-color: #FDB515;
}
#services {
    margin: 50px 150px;
}
#services strong {
    color: #EE3E2F;
    font-weight: 800;
}
#services p {
    font-size: 18px;
}
.gridcontainer {
    display: grid;
    grid-template-columns: 330px 330px 330px;
    grid-template-rows: 280px 280px 280px;
    margin: 50px;
    gap: 20px;
    height: 600px;
}
.gridcontainer br {
    display: none;
}
.griditem {
    background-color: white;
     box-shadow: lightgray 1px 1px 1px 1px;
}
.griditem img {
    width: 314px;
    height: 210px;
}
.griditem span {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
}
.sm-links {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 30px;
}
.sm {
    display: flex;
    margin-right: 50px;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #EE3E2F;
}
.sm i {
    color: white;
    /* width: 50px; */
}
footer {
    background-color: #FDB515;
    padding: 20px;
}
.form {
    display: flex;
    flex-direction: column;
}
.contact-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    padding: 50px 150px;
}
.row1, .row2 {
    flex-basis: 50%;
}
.row1 {
    width: 272px;
}
.row1 h2 {
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: 0px;
    text-transform: none;
    margin-bottom: 10px;
    max-width: 40em;
}
.row1 p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0px;
    
}
.row1 strong {
    color: #EE3E2F;
}
.cmm textarea {
    padding-left: 10px;
    height: 100px;
    width: 470px;
    margin-bottom: 12px;
}
.form input, .form button {
    width: 470px;
    height: 40.5px;
    padding-left: 10px;
    margin-bottom: 12px;
}
.form button {
    background-color: #EE3E2F;
    border: none;
    padding-right: 5px;
    margin-top: 12px;
}
.form button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
}
footer span {
    display: block;
    text-align: center;
}

@media (max-width: 640px) {
    html, body {
        width: 100%;
        overflow-x: hidden;
    }
    a {
        transition: 1s ease-in;
    }
    .toggle-btn {
        display: flex;
    }
    .navbar-links {
        display: none;
        width: 100%;
    }
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-links ul {
        flex-direction: column;
        width: 100%;
    }
    .navbar-links li {
        text-align: right;
    }
    .navbar-links li a {
        padding: .5rem 1rem;
    }
    .navbar-links.active {
        display: flex;
    }
    .landing {
        height: auto;
        width: 100%;
    }
    .intro {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: auto;
    }
    .intro h1 {
        font-size: 1.5rem;
    }
    .intro small {
        font-size: 1rem;
        
    }
    .landing button {
        margin: 10px;
        width: 100px;
        height: auto;
    }
    .landing button a {
        font-size: .75rem;
        font-weight: 200;
    }
    .about {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 0;
        /* padding: 10px; */
    }
    .whoimage {
        display: none;
    }
    .whotext {
        width: auto;
        height: auto;
        padding: 10px ;
        color: whitesmoke;
    }
    #services {
        width: auto;
        height: auto;
        margin: 0;
        padding: 10px;
    }
    .gridcontainer {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
         height: auto;
         margin: 0;
    }
    .gridcontainer br {
        display: block;
    }
    .griditem, .griditem img {
        display: flex;
        flex-direction: column;
        width: auto;
        margin: 0;
        padding: 0;
    }
    .griditem img :hover {
        opacity: 50%;
        cursor: pointer;
    }
    footer {
        /* margin-bottom: 10rem; */
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 10px 0;
    }
    .sm-links {
        position: relative;
        left: 30px;
        padding: 10px 7px;
    }
    .contact-us {
        margin: 0;
        padding: 0;
        flex-direction: column;
        text-align: left;
        width: auto;
    }
    .row1 br {
        display: none;
    }
    .row1 h2 {
        font-size: 1.5rem;
    }
    .form input, .form button {
        width: 270px;
        height: auto;
    }
}